{% extends 'accounts/base.html' %}
{% load crispy_forms_filters %}
<!-- templates/accounts/password_reset.html -->

{% load crispy_forms_tags %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
<main class="container mt-5">
    <h2>Сброс пароля</h2>
    <p>Пожалуйста, введите ваш адрес электронной почты. Вы получите ссылку для создания нового пароля по электронной почте.</p>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Сбросить пароль</button>
    </form>
</main>
{% endblock %}
