<!-- templates/about.html -->

{% extends 'base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
<main class="container mt-5">
    <h1>О нас</h1>
    <p>Добро пожаловать в Electronic Store!</p>
    <p>Мы являемся ведущим интернет-магазином электроники, предлагая широкий ассортимент товаров по конкурентным ценам. Наша цель — предоставить нашим клиентам лучшие продукты и отличный сервис.</p>
    <h2>Наша миссия</h2>
    <p>Предоставлять высококачественную электронику и аксессуары, обеспечивая превосходное обслуживание клиентов.</p>
    <h2>Контакты</h2>
    <p><i class="fas fa-phone-alt"></i> Телефон: +7 (123) 456-78-90</p>
    <p><i class="fas fa-envelope"></i> Email: support@electronicstore.com</p>
    <p><i class="fas fa-map-marker-alt"></i> Адрес: г. Москва, ул. Примерная, д. 123</p>
</main>
{% endblock %}
